@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.Dashboard {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191726;
  color: #f1f1f1;
  font-family: 'Fredoka One', cursive;
  &::before {
    content: '';
    position: absolute;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background: linear-gradient(30deg, rgba(241,241,241,1) 0%, rgba(255,219,179,1) 24%, rgba(255,150,31,1) 75%);
    transform: translate(-35vw, -20vh);
  }
  &::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(240deg, rgba(241,241,241,1) 0%, rgba(255,219,179,1) 24%, rgba(255,150,31,1) 75%);
    transform: translate(30vw, 15vh);
  }
  .container {
    width: 75vw;
    height: 86vh;
    padding: 20px;
    background: #221f3310;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid #f1f1f1A0;
    border-radius: 20px;
    z-index: 2;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px, rgba(10,10,10,0.25);
    header h1 {
      font-size: 40px;
    }
  }
}

